adamdunkels/protothreads=https://github.com/finwo/c-protothreads/archive/refs/tags/edge.tar.gz
antirez/linenoise=https://raw.githubusercontent.com/finwo/dep-repository/main/antirez/linenoise/package.ini
antirez/rax=https://raw.githubusercontent.com/finwo/dep-repository/main/antirez/rax/package.ini
benhoyt/inih=https://raw.githubusercontent.com/finwo/dep-repository/main/benhoyt/inih/package-edge.ini
cgraham/protothreads=https://github.com/finwo/c-protothreads/archive/refs/tags/cgraham.tar.gz
cofyc/argparse=https://raw.githubusercontent.com/finwo/dep-repository/main/cofyc/argparse/package.ini
finwo/assert=https://github.com/finwo/c-assert/archive/refs/tags/edge.tar.gz
finwo/benchmark=https://github.com/finwo/benchmark/archive/refs/tags/edge.tar.gz
finwo/http-parser=https://github.com/finwo/http-parser/archive/refs/tags/edge.tar.gz
finwo/matter=https://github.com/finwo/matter/archive/refs/tags/edge.tar.gz
finwo/mindex=https://github.com/finwo/c-mindex/archive/refs/tags/edge.tar.gz
noporpoise/sort_r=https://raw.githubusercontent.com/finwo/dep-repository/main/noporpoise/sort_r/package.ini
orlp/ed25519=https://raw.githubusercontent.com/finwo/dep-repository/main/orlp/ed25519/package.ini
rxi/dyad=https://raw.githubusercontent.com/finwo/dep-repository/main/rxi/dyad/package.ini
sgtatham/coroutine=https://github.com/finwo/c-coroutine/archive/refs/tags/edge.tar.gz
tidwall/btree=https://raw.githubusercontent.com/finwo/dep-repository/main/tidwall/btree/package.ini
tidwall/buf=https://raw.githubusercontent.com/finwo/dep-repository/main/tidwall/buf/package.ini
tidwall/evio=https://raw.githubusercontent.com/finwo/dep-repository/main/tidwall/evio/package.ini
tidwall/hashmap=https://raw.githubusercontent.com/finwo/dep-repository/main/tidwall/hashmap/package.ini
tidwall/match=https://raw.githubusercontent.com/finwo/dep-repository/main/tidwall/match/package.ini
tidwall/rand=https://raw.githubusercontent.com/finwo/dep-repository/main/tidwall/rand/package.ini
tidwall/rtree=https://raw.githubusercontent.com/finwo/dep-repository/main/tidwall/rtree/package.ini
