adamdunkels/protothreads=https://github.com/finwo/c-protothreads/archive/refs/tags/stable.tar.gz
antirez/linenoise=https://raw.githubusercontent.com/finwo/dep-repository/main/antirez/linenoise/package.ini
antirez/rax=https://raw.githubusercontent.com/finwo/dep-repository/main/antirez/rax/package.ini
benhoyt/inih=https://raw.githubusercontent.com/finwo/dep-repository/main/benhoyt/inih/package-stable.ini
cesanta/mongoose=https://raw.githubusercontent.com/finwo/dep-repository/main/cesanta/mongoose/package.ini
cgraham/protothreads=https://github.com/finwo/c-protothreads/archive/refs/tags/cgraham.tar.gz
cofyc/argparse=https://raw.githubusercontent.com/finwo/dep-repository/main/cofyc/argparse/package.ini
finwo/asprintf=https://github.com/finwo/c-asprintf/archive/refs/tags/stable.tar.gz
finwo/assert=https://github.com/finwo/c-assert/archive/refs/tags/stable.tar.gz
finwo/benchmark=https://github.com/finwo/c-benchmark/archive/refs/tags/stable.tar.gz
finwo/buf_extra=https://github.com/finwo/c-bufextra/archive/refs/tags/stable.tar.gz
finwo/canonical-path=https://github.com/finwo/canonical-path.c/archive/refs/tags/stable.tar.gz
finwo/endian=https://github.com/finwo/endian.h/archive/refs/tags/stable.tar.gz
finwo/fnet=https://github.com/finwo/c-fnet/archive/refs/tags/stable.tar.gz
finwo/http-parser=https://github.com/finwo/http-parser/archive/refs/tags/stable.tar.gz
finwo/http-server=https://github.com/finwo/http-server/archive/refs/tags/stable.tar.gz
finwo/matter=https://github.com/finwo/matter/archive/refs/tags/stable.tar.gz
finwo/mindex=https://github.com/finwo/c-mindex/archive/refs/tags/stable.tar.gz
finwo/opener=https://github.com/finwo/c-opener/archive/refs/tags/stable.tar.gz
finwo/poll=https://github.com/finwo/c-poll/archive/refs/tags/stable.tar.gz
finwo/str_extra=https://github.com/finwo/c-strextra/archive/refs/tags/stable.tar.gz
hellerf/ews=https://raw.githubusercontent.com/finwo/dep-repository/main/hellerf/ews/package.ini
jacketizer/yuarel=https://raw.githubusercontent.com/finwo/dep-repository/main/jacketizer/yuarel/package.ini
kgabis/parson=https://raw.githubusercontent.com/finwo/dep-repository/main/kgabis/parson/package.ini
noporpoise/sort_r=https://raw.githubusercontent.com/finwo/dep-repository/main/noporpoise/sort_r/package.ini
orlp/ed25519=https://raw.githubusercontent.com/finwo/dep-repository/main/orlp/ed25519/package.ini
pierreguillot/thread=https://raw.githubusercontent.com/finwo/dep-repository/main/pierreguillot/thread/package.ini
piscisaureus/wepoll=https://raw.githubusercontent.com/finwo/dep-repository/main/piscisaureus/wepoll/package.ini
rxi/dyad=https://raw.githubusercontent.com/finwo/dep-repository/main/rxi/dyad/package.ini
sgtatham/coroutine=https://github.com/finwo/c-coroutine/archive/refs/tags/stable.tar.gz
scyphus/url-parser=https://github.com/finwo/url-parser/archive/refs/tags/stable.tar.gz
tidwall/btree=https://raw.githubusercontent.com/finwo/dep-repository/main/tidwall/btree/package.ini
tidwall/buf=https://raw.githubusercontent.com/finwo/dep-repository/main/tidwall/buf/package.ini
tidwall/evio=https://raw.githubusercontent.com/finwo/dep-repository/main/tidwall/evio/package.ini
tidwall/hashmap=https://raw.githubusercontent.com/finwo/dep-repository/main/tidwall/hashmap/package.ini
tidwall/json=https://raw.githubusercontent.com/finwo/dep-repository/main/tidwall/json/package.ini
tidwall/match=https://raw.githubusercontent.com/finwo/dep-repository/main/tidwall/match/package.ini
tidwall/rand=https://raw.githubusercontent.com/finwo/dep-repository/main/tidwall/rand/package.ini
tidwall/rtree=https://raw.githubusercontent.com/finwo/dep-repository/main/tidwall/rtree/package.ini
tinycthread/tinycthread=https://raw.githubusercontent.com/finwo/dep-repository/main/tinycthread/tinycthread/package.ini
tom-seddon/yhs=https://raw.githubusercontent.com/finwo/dep-repository/main/tom-seddon/yhs/package.ini
user-none/mkdirp=https://github.com/finwo/c-mkdirp/archive/refs/tags/stable.tar.gz
user-none/winpthreads=https://github.com/finwo/winpthreads/archive/refs/tags/stable.tar.gz
vmxdev/tkvdb=https://raw.githubusercontent.com/finwo/dep-repository/main/vmxdev/tkvdb/package.ini
vurtun/mm_web=https://raw.githubusercontent.com/finwo/dep-repository/main/vurtun/mm_web/package.ini
webview/webview=https://raw.githubusercontent.com/finwo/dep-repository/main/webview/webview/package.ini
win32ports/sys_time_h=https://raw.githubusercontent.com/finwo/dep-repository/main/win32ports/sys_time_h/package.ini
