antirez/linenoise=https://raw.githubusercontent.com/finwo/dep-repository/main/antirez/linenoise/package.ini
antirez/rax=https://raw.githubusercontent.com/finwo/dep-repository/main/antirez/rax/package.ini
finwo/assert=https://github.com/finwo/c-assert/archive/refs/tags/stable.tar.gz
